[submodule "riak-client-tools"]
	path = riak-client-tools
	url = ssh://git@bitbucket.internal.invalid:7999/dssst/riak-client-tools.git
	branch = workday
[submodule "riak_pb"]
	path = riak_pb
	url = ssh://git@bitbucket.internal.invalid:7999/dssst/riak_pb.git
	branch = workday-develop-3.2
